<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Resturant ID</th>
      <th scope="col">Name</th>
      <th scope="col">Borough</th>
      <th scope="col">Cuisine</th>
      <th scope="col">Address</th>
      <th scope="col">Grades</th>
    </tr>
  </thead>
  <tbody>
    {{#each data}}
    <tr>
      <th scope="row">{{this.restaurant_id}}</th>
      <td>{{this.name}}</td>
            <td>{{this.borough}}</td>
            <td>{{this.cuisine}}</td>
            <td>
                {{this.address.building}},
                {{!-- {{#each this.address.coord as |c|}} --}}
                {{!-- {{c}}&nbsp;&nbsp; --}}
                {{!-- {{/each}}, --}}
                {{this.address.street}},
                {{this.address.zipcode}}
            </td>
            <td>
                {{#each this.grades as |g|}}
                {{g.grade}}={{g.score}},
                {{/each}}
            </td>
    </tr>
    {{/each}}
  </tbody>
</table>